<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="University.Properties.Settings.UniversityConnectionString"
            connectionString="Data Source=nb-asus;Initial Catalog=University;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="University.Properties.Settings.UniversityConnectionString1"
            connectionString="Data Source=DEROW;Initial Catalog=University;Persist Security Info=True;User ID=dev;Password=dev"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>